*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
form {
  width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
input,
button{
  width: 76%;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}

button {
  width: 20%;
  border: 1px solid gray;
  cursor: pointer;
}
.todoShow{
  width: 400px;
  list-style-type: none;
  margin: 8px auto;
}
.todoShow li {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.todoShow li span{
  padding: 2px 5px;
  border: 1px solid gray;
  margin: 0 2px;
  cursor: pointer;
}

.todoShow li span:hover, button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}